html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* this breaks position sticky in Firefox */
/* overflow-x: hidden; */

header {
    grid-column: 1 / 3;
    background: #938a2ffc;
    /*background: #f9bf3f;*/
    /*background: #455A64;*/
    color: white;
    padding: 4rem;
    text-align: center;
}

nav {
    white-space: nowrap;
    background: #37474F;
    width: 150px;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
/* Only stick if you can fit */
@media (min-height: 300px) {
    nav ul {
        position: sticky;
        top: 0;
    }
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

    nav ul li a.current {
        background: black;
    }
    nav ul li a.current:hover{
        color: white;
    }
    nav ul li a:hover{
        color:black;
    }

main {
    padding-bottom: 40rem;
}

section {
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 1rem;
    padding-top:2rem;
    margin: 0 0 2rem 0;
}

footer {
    grid-column: 1 / 3;
    background: #938a2ffc;
    text-align:center;
    /*background: #607D8B;*/
    padding: 5rem 1rem;
}